.error{

    color: red;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    transition: all 1s;
    display: flex;

}


label{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #000;
    margin: 0.5rem;
    display: flex;
    justify-content: left;
}

section{
  border: #000 1px solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow-y:hidden;
    overflow-x:hidden;
    margin-left: auto;
    margin-right: auto;
    animation: contactmoveup 0.5s ease-in-out;
    z-index: 2;
    width: 50%;
}

@keyframes contactmoveup {
    0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
button {
    background-color: #007bff; 
    color: #ffffff;  
    border: none; 
    border-radius: 4%; 
    padding: 10px 20px; 
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  button:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
  }
  
  button:active {
    background-color: #004494; 
    transform: translateY(0); 
  }
  
  button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  #contactIcon{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 5%;
    
  }

#contactClose{
    align-self: flex-end;
    width: 5%;
    }

#ContactForm{
    display: flex;
    flex-direction: column;
    }

  img:hover{
    transform: scale(1.1);

  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }