#menuImage{
    width: 12.6%;
    height: auto;
}

#menuToggle{
    padding: 2%;
    padding-left: -1%;
    padding-right: -1%;
    display: flex;
    justify-content: flex-end;
}

#headerTopBar{
    background-color:var(--secondary-color);
    padding: 3%;
}

#HeaderMenu{
    display: flex;
    z-index: 3;
    width: 100%;
    height: 100%;
    border: #000 1px solid;
    border-radius: 10px;
    background-color: var(--primary-color);
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow-y:hidden;
    overflow-x:hidden;
    margin-left: auto;
    margin-right: auto;
    animation: headerMoveIn 0.2s ease-in-out;
    flex-direction: column;
}

#exitbuttonimage{
    display: flex;
    height: 100%;
    width: 15%;
    margin-left: auto;
}

#exitbutton{
    position: absolute;
    right: 0;
    width: 100%;
    justify-content: center;
    padding: 2%;
    margin: 2%;
    margin-right: auto;
}

#mmicon{
    display:flex;
    width:auto;
    height: 15%;
   justify-content: center;
   align-items: center;
}


@keyframes headerMoveIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }

  nav {
    display: flex;
    padding: 2%;
    flex: 1;
    justify-content: center;
    
  }

  header{
    display: flex;
    
  }

  .navmenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 15%;
    flex: 0.75;
    list-style-type:none;
    font-size: 250%;
    height: 100%;
    gap: 5%;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.2em;
  }

.navmenu a:active{
    color: var(--primary-color);
  }

.navmenu a:hover{
        color: var(--cta-color);
    
    }

.navmenu a{
        text-decoration: none;
        color:inherit;
        font-weight: 700;
    }

@media screen and (min-width: 1024px) {

  #headerTopBar{
    display: none;
  }

  #menuToggle{
    display: none;
  }
  .navmenu{
    flex-direction: row;
    align-items: center;
    list-style-type:none;
    font-size: 250%;
    height: 100%;
  }
  nav {

    padding: 0;
    flex: 1;
    justify-content: left;
    align-items: flex-start;
  }
  #HeaderMenu{
    display: flex;
    z-index: 1;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    flex-direction: row;
    left:unset;
    right:unset;
    bottom:unset;
    position: relative;
    border-top: none;
    border-right: none;
    border-left: none;
    height:10vh;

  }

  #exitbutton{
    display: none;
  }

  #mmicon{
    display:flex;
    width:auto;
    height: 85%;
   justify-content: center;
   align-items: center;
}
    
}