#menuImage{
    width: 10%;
    height: 10%;
}

#menuToggle{
    padding: 2%;
    display: flex;
    justify-content: flex-end;
}

#headerTopBar{
    background-color:var(--secondary-color);
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#HeaderMenu{
    display: flex;
    z-index: 3;
    width: 100%;
    height: 100%;
    border: #000 1px solid;
    border-radius: 10px;
    background-color: var(--primary-color);
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow-y:hidden;
    overflow-x:hidden;
    margin-left: auto;
    margin-right: auto;
    animation: headerMoveIn 0.2s ease-in-out;
    flex-direction: column;
}

#exitbuttonimage{
    display: flex;
    height: 100%;
    width: 15%;
 
}

#exitbutton{
    display: flex;
    width: auto;
    height: 10%;
    justify-content: flex-end;
    padding: 2%;
    margin: 2%;
    
}


@keyframes headerMoveIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }

  nav {
    padding: 2%;
    flex: 1;
    position: relative;


  }

  .navmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 15%;
    flex: 0.75;
    list-style-type:none;
    font-size: 250%;
    height: 100%;
    gap: 5%;
    
  }

.navmenu a:active{
    color: var(--primary-color);
    
  }

.navmenu a:hover{
        color: var(--cta-color);
    }

.navmenu a{
        color: var(--header-text-color);
        text-decoration: none;
        color:inherit;
        align-items: center;
        font-weight: 700;
        border: 1px solid 
    }

