@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primary-color: #fafafa;
    --secondary-color: #41A5EE;
    --accent-color1: #1c1c1c;
    --accent-color2: #af5d98;
    --cta-color: #0056b3;
    /* --box-shadow:2px 2px 2px lightgray; */
    --text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    --border: 1px solid rgba(0,0,0,.3);
}


* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    
}

body {
    background-color: var(--primary-color);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

main{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 80%;
    
}

section{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 1rem;

}

.largetext{
    font-size: 1.4rem;
    font-weight: bold;
}

h1{
    font-size: 3rem;
    font-weight:900;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Uses parent element's color */
    cursor: pointer; /* Shows clickable cursor */
}
/* .siteheader {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-text-color);
    font-weight: 700;
    background-color: var(--header-background-color);
}

.navmenu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navicons {
    display: flex;
    list-style: none;
    gap: 5px;
}

.headeranchor {
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
}

.headeranchor:hover {
    background-color: var(--cta-color);
}

.headeranchor.active{
  color: var(--secondary-color);
} */

footer {
    height: 60px;
    background-color: var(--accent-color);
}