

#profilepicture{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
    border-style: solid;
    border-color: var(--secondary-color);
}

#hometitle{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    
}

#hometitle span:first-child{
    font-size: 1.5rem;
}

#hometitle span:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
}

#hometitle span:last-child{
    font-size: 1.5rem;
    font-weight: bold;
}

#subheader p{
    font-size: 1.5rem;
    font-weight: bold;
}

#homeline{
    width: 80%;
    height: 0.2rem;
    background-color: var(--secondary-color);
}